subscription_id: ''
username: ''
password: ''
location: ''
publisherName: 'Canonical'
offer: 'UbuntuServer'
sku: '14.04.2-LTS'
version: 'latest'
flavor_id: 'Standard_A1'
compute_name: ''
storage_account_name: ''
compute_user: ''
compute_password: ''
public_key: |
resource_group_name: ''
management_subnet_name: ''
management_network_name: ''