subscription_id: ''
username: ''
password: ''
flavor_id: ''
publisher_name: ''
offer: ''
sku: ''
node_js_compute_name: ''
mongod_compute_name : ''
compute_user: ''
compute_password: ''
public_key: |

resource_group_name: ''
virtual_network_name: ''
subnet_name: ''
account_type: ''
mongod_storage_account_name: ''
nodejs_storage_account_name: ''
mongod_storage_account_deletable: false
nodejs_storage_account_deletable: false
