subscription_id: ''
username: ''
password: ''
publisher_name: ''
offer: ''
sku: ''
compute_name: ''
storage_account: ''
compute_user: ''
compute_password: ''
public_key: ''
private_key: ''
resource_group_name: ''
virtual_network_name: ''
virtual_network_address_prefix: ''
subnet_name: ''
subnet_address_prefix: ''