subscription_id: ''
username: ''
password: ''
flavor_id: ''
publisher_name: ''
offer: ''
sku: ''
compute_name: ''
storage_account_name: ''
compute_user: ''
compute_password: ''
public_key: |

resource_group_name: ''
virtual_network_name: ''
subnet_name: ''
account_type: ''
